body, html , p{
    font-family: Helvetica;
    font-size:14px;
}
img {
    max-width: 100%;
}
a {
    color: #10bf9b;
}
button {
    font-size: 200%;
}
.container {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.message {
    display:block;
    color: grey;
    margin-bottom:5px;
}
